.cover-img {
  width: 100%;
  height: auto;
}

.contrainer-content {
  max-width: none;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 993px) .contrainer-content {
  width: 70%;
}

@media only screen and (min-width: 601px) .contrainer-content {
  width: 85%;
}
